$color1: rgba(255, 0, 218, 0.5);
$color2: rgba(37, 0, 255, 0.5);
$color-fondo: rgba(255, 255, 255, 0.3);

.cart_title{
    padding-left: 3%;
    margin-top: 2%;
    font-size: 1.3em;
}

.cart {
    align-items: center;
    padding: 2%;
    margin-top: 6%;
        
    .cart_img{
        margin-left: 2%;
    }
    
}
