$color1: rgba(255, 0, 218, 0.5);
$color2: rgba(37, 0, 255, 0.5);



.profile-container {
    align-items: flex-start;
    width: 100%;
    max-width: 1300px;

    & > .avatar-container {
        border-right: 1px solid #ccc;
       
        padding: 1rem;
        width: 25%;

        & .avatar {
            cursor: pointer;
            transition: border-color 0.3s ease-in-out;
            border-radius: 10px; 

            &.selected {
                border: 3px solid rgb(150, 3, 255);
            }
        }
    }

    & > .user-info-container {
        padding: 4rem;

        & .avatar-image {
            width: 200px; 
            border-radius: 30px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        }

        & .avatar-icon {
            font-size: 200px;
            color: #ccc;
        }
    }
}



.galery{
    padding-left: 1em;
}

.welcome_text{
    margin-left: 3%;
    font-size: 1.3rem;
    font-weight: 500;
}


.select_text{
    padding-left: 1.3em;
}

