input[type=file]::file-selector-button {
    color: white;
    border: 1px solid #805ad5;
    padding: .2em .4em;
    margin-top: .2em;
    border-radius: .4em;
    background-color: #805ad5;
    transition: 0.5s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #6b46c1;
    
  }