

.navbar{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    box-shadow: 0px 12px 15px rgba(0, 123, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .link {
      margin: 0 1rem; 
    }

    .link_user {
      margin-right: auto;
      padding-left: 2rem;
    }
   
    a.carrito{
      padding-left: 3rem;
      margin-right: 3rem;
    }

    button, .logo{
      margin: 10px;
    }
    
   
  

  }
  
  
