

 .cart_title{
    padding-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.3em;
    font-weight: 500;
}

.cart {
    align-items: center;
    padding: 2%;
    margin-top: 6%;
        
    .cart_img{
        margin: 2%;
    }
    
}